.page{
    background-color: rgba(247, 243, 243, 0.898);
}
.pageFooter{
    border: 1px solid rgb(194, 193, 193);
}
.sapMBtnContent{
    color: rgb(195, 68, 68);;
}
.sapMLIBShowSeparator>td{
    border: 1px solid rgb(214, 211, 211);
 }
/************************************ For Home Screen **********************************************/
.tileLayout{
    border-radius: 0%;
}
/************************************* For Create Voyage Screen *************************************/
.threeFlex{
    margin: 0.5%;
    border: 1px solid rgb(204, 202, 202);
}
.tableLayout{
    border: 1px solid rgb(218, 215, 215);
    
}
/************************************** Freight Simulator Screen ***************************************/
.freightSimulatorPage{
    background-color: rgb(212, 238, 240);
}
.fsBar2{
    background-color:#0e6977ed;
    font-weight: bold;
}
.fsBarTxt1{
    color: white;
}
.fsSubBar{
    background-color: #369cac !important;
}
.labelTxt{
    color: white !important;
}

/************************************** Bidding controller page ******************************************/
.biddingTileflex{
    justify-content: space-around;
    justify-content: center;
}

.ongoingPanel{
    border:1px solid rgb(210, 209, 209);
    padding: 5%;
    margin: 1%;
    border-radius: 0%;
    background-color: rgb(255, 255, 255);
}

/************************************** Bidding object page ************************************************/
.bpanel1{
    width: 20rem ;
   
}
.vPanel{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    flex-wrap: wrap;
    
}
 
.text1{
    display: block;
}
.botxt2{
    margin-top: 15%;
}
.botxt3{
    margin-top: 5%!important;
}
.botxt1{
   margin-top: 3%;
   font-size: 22px;
}
.botxt7{
    font-size:15px;
}
.vendorListHeading{
    justify-content: space-around;
    padding-top: 5rem;
}
.vTHeading{
    font-size: 20px;
}
.cql1{
    padding-top:8px;
}
#application-nauticalfe-display-component---BidObj--table-tblHeadNav{
    background-color: rgb(240, 235, 235);
    border-top: 1px solid rgb(187, 186, 186);
 
}
#application-nauticalfe-display-component---BidObj--boTxt6{
    color: green;
    margin-top: 15%;
    font-size: 24px;
}

/**************************************** Nautical Dashboard Screen *********************************/
.dashboardPanel{
    background-color: white;
    margin: 7%;
}
.headerTxt{
    font-weight: bold;
}
.dashboardBtn{
    margin-top: 15%;
    margin-left: 23%;
}
.nauticalimg{
    margin-top: 5%;
    margin-left: 10%;
    position: fixed;
}

/************************************** Master Dashboard Screen  ***************************************/
.one,.two,.three,.four,.five{
    margin-left: 2%;
    margin-top: 5%;
}
.one,.three,.five{
    width: 30%;
}
.two,.four{
    width: 8%;
}
.nauticalimg1{
    margin-top: 10%;
    position: fixed;
}

/************************************** Transaction data Dashboard  **************************************/
.two{
    width: 35%;
    margin-left: 10%;
    margin-top: 8%;
}
/*************************************Transaction Capture Voyage Plan Screen***********************************/
.animation{
    display: none;
}
/* Vessel Details */
.vgheading{
    margin: 10px;
    padding: 5px;
    border-bottom: 1px solid rgb(180, 179, 179);
    width: 100%;
}
.vdHeaderLayout{
    margin-left: 6rem;
    margin-bottom: 2rem;
}

.table{
    margin-left: 9%;
    border: 1px solid rgb(221, 217, 217);
}

.vdsection{
   margin-left: 8rem;
}
.vdsection2{
    margin-left: 7.4rem;
}
.voyagePanel{
    background-color: white;
    margin: 1%;
}

/* vessel Plan section  */
 
.vsplandetails{
    margin-left: 3rem;
}
.infoinputs{
    margin-left: 2rem;
}

/* Bid Details */

.flexbidtable{
    padding-right: 5%;
    padding-bottom: 2%;
}
.flexbtn{
    margin-left: 4.2%;
}
/* .formInputbox{
    align-items: center;
} */
 
/***************************************** Business Partner Details Page ************************************/
 

.BPdetailsContent{
    margin-left: 35%;
}
.executeBtn{
    margin-left: 70rem;
    margin-top: 22rem;
}
/****************************************** config release strategy *****************************************/
 
.configHeading{
    margin-top: 2%;
    font-size: 20px;
    margin-left: 1%;
    border-bottom: 1px solid rgb(183, 180, 180);
    width: 40%;
}
.mgbtn{
    margin-top: 1%;
}
 

/*
/* Master data pages css by anurag */
 
.customHeader{
    background-color: black;
}
.textBid{
    color: white;
}
/* .exeBtn{
    margin-top: 35%;
} */
.masterFileUpload{
    margin-left: 250px;
    margin-top: 70px;
}
 
.masterheadings{
    margin-left: 40px;
    margin-top:30px;
    font-size: 15px;
}
 


/* file upload dialog box css */
.MastDialogButtonAlign{
    margin-top: 40px;
    margin-left: 270px;
}
.header{
    background-color: black;
    color: white;
}
.customHeaderButton{
    background-color: black;
    color: white;
}

/* save as variant tab */

.sapMCb .sapMLabel {
    margin-top: -1.5%;
}
.LabelInput1{
    margin-top: 2%;
    margin-left: 5%;
}
.LabelInput2{
    margin-left: 5%;
}
#container-nauticalfe---MastSaveAsVariant--_IDGenColumn3-ah {
    height: 16px;
}
.btnIcon{
    margin: 5px;
}
.tableHeading{
    font-size: 16px;
    margin-top: 1%;
}
.txtInfoBox{
    margin: 4%;
}
.boldText{
    font-weight: bold;
    font-size: 14px;
}

/* for all icon */
.sapMBtnIcon {
    color: rgb(194, 65, 65);
}

.vaInputBox{
    margin-right: 8%;
}
.vasrLabel{
    margin-right: 6.5%;
}
